.app {
  height: 100vh;
  background-color: lightgrey;
}

.app_header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app_name-form {
  justify-content: center;
}

.app_content-wrapper {
  display: flex;
  height: 85%;
  padding: 8px;
  margin-top: 8px;
}

.app_comments-wrapper {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.app_comments-wrapper_room-tag {
  height: 10%;
  display: flex;
  border: 2px solid black;
  padding: 4px;
  align-items: center;
  justify-content: space-between;
}

.app_game-wrapper {
  border: 1px solid black;
  border-left: hidden;
  width: 80%;
}

.app_room-wrapper {
  padding-left: 8px;
  padding-right: 8px;
}

.app_rooms {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.app_room {
  border: 1px solid black;
  width: 20%;
  text-align: center;
  padding: 4px;
  margin: 0px 4px 8px 4px;
}




