body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HTML elements */
h1, h2 {
  text-align: center;
  text-decoration: underline;
  margin: 0;
  margin-bottom: 8px;
}

.h1_left-justified {
  text-align: left;
}

h3, h4 {
  margin: 0;
}

p {
  margin: 8px 0 8px 0;
}

span {
  font-weight: bold;
}

label {
  margin-right: 4px;
}

form {
  display: flex;
}

input {
  margin-right: 4px;
}

button {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.button_margin-right {
  margin-right: 8px;
}

.button_margin-left {
  margin-left: 8px;
}

.button_margin-bottom {
  margin-bottom: 8px;
}

.btn_selected {
  background-color: grey;
  color: white;
}

